{% extends "base.html" %}


{% block title %}Linear Equation Systems{% endblock %}

{% block description %}
<p>Solve the following system of linear equations.</p>
{% endblock %}

{% block problem %}
  \(\begin{align*}
    {% for row in range(A.shape[0]) %}
        {% for op, coeff, variable in formatted[row] %}
          {{ op }} {{ coeff }} {{ variable }}
        {% endfor %}
      &= {{ b[row] }}\\
    {% endfor %}
  \end{align*}\)
{% endblock %}

{% block solution %}
<p>{{ solution }}</p>
{% endblock %}


